---
layout: layout

---

<article class="upcoming">

    <div class="background-container">

        <h2>Next Meetup</h2>

        {% for item in site.posts limit:5 %}

            {% if forloop.first %}
                <h3>{{ item.title }}</h3>
                {{ item.content }}
                {% if item.link %}<a class="button" href="{{ item.link }}">{{ item.linkText }}</a>{% endif %}

                <br>
                <h4>Past Meetups</h4>

            {% else %}
                {% if forloop.counter == 2 %}<ul>{% endif %}

                    <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></li>


                {% if forloop.last %}</ul>{% endif %}
            {% endif %}

        {% endfor %}


    </div>

</article>

<article class="events">

    <div class="background-container">
        <h2>Nodebots day</h2>
        <p>HACKmemphis and Memphis Web Workers will be putting on a Nodebots day in 2016! We're really excited about the intersection of JavaScript and hardware and are ready to make some robots bend to our will!</p>
    </div>

    <div class="background-container">
        <h2>Chat with Web Workers</h2>
        <p>The Web Workers currently utilize the #memtech community Slack. We have our own channel, but there's also plenty of folks and other topics to join in!</p>
        <a class="button" href="http://www.memphistechnology.org/blog/2015/05/19/join-memtech-on-slack-chat/" title="Chat with us on Slack">Join the Community &raquo;</a>
    </div>

</article>


<article class="footer">

    <h2>Our Sponsors</h2>

    <div class="logos">
        <a href="http://www.vaco.com/memphis"><img src="/img/sponsors/vaco.png" alt="Web Workers"></a>
        <a href="http://jetbrains.com"><img src="/img/sponsors/jetbrains.png"></a>
    </div>

</article>
