---
layout: layout

---

<article class="upcoming">

    <div class="background-container">

        <h2>Next Meetup</h2>

        {% for item in site.posts limit:5 %}

            {% if forloop.first %}
                {% if item.hasNotes %}
                    <a href="{{ item.url }}" title="{{ item.title }}">
                {% endif %} 
                    <h3 class="event-header">{{ item.title }}{% if item.eventDate %}<small class="event-date"> - {{ item.eventDate }}</small>{% endif %}</h3>
                    {% if item.eventLocation %}<p class="event-location">{{ item.eventLocation }}</p>{% endif %}
                {% if item.hasNotes %}
                    </a>
                {% endif %}
                <p>{{ item.description }}</p>
                {% if item.link %}<a class="button" href="{{ item.link }}">{{ item.linkText }}</a>{% endif %}

                <br>
                <h4>Past Meetups</h4>

            {% else %}
                {% if forloop.index == 2 %}<ul>{% endif %}

                    <li>
                        {% if item.hasNotes %}
                            <a href="{{ item.url }}" title="{{ item.title }}">
                        {% endif %}
                            {{ item.title }}
                        {% if item.hasNotes %}
                            </a>
                        {% endif %}
                    </li>


                {% if forloop.last %}</ul>{% endif %}
            {% endif %}

        {% endfor %}


    </div>

</article>

<article class="events">

    <div class="background-container">
        <h2>Chat with Web Workers</h2>
        <p>The Web Workers currently utilize the #memtech community Slack. We have our own channel, but there's also plenty of folks and other topics to join in!</p>
        <a class="button" href="http://www.memphistechnology.org/blog/2015/05/19/join-memtech-on-slack-chat/" title="Chat with us on Slack">Join the Community &raquo;</a>
    </div>

</article>


<article class="footer">

    <h2>Our Sponsors</h2>

    <div class="logos">
        <a href="http://www.vaco.com/memphis"><img src="/img/sponsors/vaco.png" alt="Web Workers"></a>
        <a href="http://memphistechnology.org"><img src="/img/sponsors/mtf-logo.png"></a>
    </div>

</article>
