---
layout: interior
permalink: /meetups/
---

<article class="podcast">

    <h1>Web Workers Meetups</h1>
    <p>
        Join us on the Second Tuesday of every month for an appetizing taste into the world of web.  We take on all topics involving web.  Have an idea for a future talk?  Join the MemTech Slack group and message one of us. <a href="http://www.memphistechnology.org/blog/2015/05/19/join-memtech-on-slack-chat/">MemTech Slack&nbsp;&raquo;</a>
    </p>


    {% for post in site.posts %}
        <section class="episode">
            {% if post.hasNotes %}
                <a href="{{ post.url }}">
            {% endif %}
                <h3 class="event-header">{{ post.title }}{% if post.eventDate %}<small class="event-date"> - {{ post.eventDate }}</small>{% endif %}</h3>
                {% if post.eventLocation %}<p class="event-location">{{post.eventLocation}}</p>{% endif %}
            {% if post.hasNotes %}
                </a>
            {% endif %}
            <p>{{ post.description }}</p>
        </section>
    {% endfor %}


</article>
