$primary-color: #106B99;
$secondary-color: #D57427;
$tertiary-color: #B4E5FF;
$quatenary-color: #272624;
$error: $secondary-color;
$dark-grey: #222;
$light-grey: #ccc;
$white: #ffffff;
$black: #000000;
