$primary-color: #0f9f7a;
$secondary-color: #1065af;
$tertiary-color: #7eb6d7;
$quatenary-color: #b7dcf3;
$dark-gray: #e1e1e1;
$light-gray: #f2f2f2;
$pink: #bd6294;
$green: #32bd8e;
$orange: #fd9230;
$yellow: #f5b72d;
$lime: #83c542;
$white: #ffffff;
$black: #000000;