body {
	display: flex;
	background: $dark-grey;
	@include tablet-phone-break {
		flex-direction: column;
	}
}
.background-container {
	background-color: rgba($white, .9);
	padding: 30px;
	margin: 10px 0;
}

header {
	background-color: $dark-grey;
	flex: 0 0 250px;
	text-align: center;
	@include tablet-phone-break {
		flex-direction: row;
		flex-basis: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	h1 {
		font-size: 1.0em;
		color: $white;
		@include primary-font();
		margin: 10px 10px 20px;
		padding: 10px 0;
		text-transform: none;
		@include tablet-phone-break {
			order: 4;
			flex: 1 1 100%;
		}
	}
	.logo {
		padding: 75px 10px;
		background-color: lighten($dark-grey, 5%);
		border-bottom: 1px solid $secondary-color;
		margin-bottom: 20px;
		@include tablet-phone-break {
			flex: 2 1;
			background-color: transparent;
			border-bottom: 0;
			padding: 10px;
			margin: 5px 0;
		}
		svg g.main-text path {
			fill: $tertiary-color;
		}

	}
	.social {
		margin: 15px 0 5px;
		svg {
			height: 30px;
			width: 30px;
			fill: $white;
			transition: fill .4s ease;
		}
		a:hover svg {
			fill: $secondary-color
		}
		@include tablet-phone-break {
			order: 3;
			flex: 1 1 100%;
			margin: 0 25px;
			text-align: right;
		}
		@include phone-break {
			text-align: center;
		}
	}
	nav {
		@include tablet-phone-break {
			flex: 4 4;
			margin-right: 25px;
			text-align: right;
			ul {
				list-style: none;
				li {
					display: inline;
					margin: 3px 10px;
				}
			}
		}
		@include phone-break {
			font-size: .75em;
			flex: 2 2;
			ul li {
				display: block;
				clear: both;
				margin-bottom: 5px;
			}

		}
	}
	a {
		color: $secondary-color;
		&:hover {
			color: lighten($secondary-color, 15%);
		}
	}
	ul {
		margin: 0;
		padding: 0;
		@include secondary-font;
		li {
			list-style: none;
			padding: 10px 0;

		}
		@include tablet-phone-break {

		}
	}
	@include tablet-phone-break {
		flex-direction: row;

	}

}
.main-content {

	flex: 10 10;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    &.interior {
        background-color: #FAF5F0;
    }
	article {
		flex-wrap: wrap;
		flex: 1 1 40%;
		padding: 3%;
		h2 {
			display: table;
		    white-space: nowrap;
		    width: 100%;
		    text-align: center;
		    &:before, &:after {
		      border-top: 2px solid $dark-grey;
		      content: '';
		      display: table-cell;
		      position: relative;
		      top: .75em;
		      width: 45%;
		    }
		    &:before { right: 1.5%; }
		    &:after { left: 1.5%; }
		}

		&.podcast {
			flex-basis: 100%;
		}

	}
	@include tablet-phone-break {
		display: block;
	}
}
