.events {
	background: url('/img/congruent_outline.png') repeat center center;
	display: flex;
	justify-content: center;
	align-items: center;
	.logos {
		display: flex;
		text-align: center;
		max-height: 100px;

		img {
			flex: 1 1 150px;
			width: 150px;
		}
	}
	h4 {
		text-align: center;
	}
	.indicates-required {
		float: right;
		font-size: .8em;
	}
}
