.events {
	background: url('/img/congruent_outline.png') repeat center center;
	display: flex;
	justify-content: center;
	align-items: center;

	h4 {
		text-align: center;
	}
	.indicates-required {
		float: right;
		font-size: .8em;
	}
}
