.upcoming {
	background: url('https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xta1/t31.0-8/11886125_894481600646765_1367114943372983442_o.jpg') no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

	.background-container {
		background-color: rgba($white, .8);
		padding: 30px;


	}
}
